* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

ol, ul { list-style: none; }

a {
    color: #e2c56a;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;

}

html {
    font-size: 14px;
    background: #29201b url(../img/back.png) 0 0 repeat-x;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: Verdana, sans-serif;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-overflow-scrolling: touch;
    outline: none;
    color: #2b2726;
}

.overflow {
    overflow: hidden;
}

.wrapper {
	max-width: 980px;
    margin: 0 auto;
}

.mainContent {
    min-height: calc(100vh - 96px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}

.header {
    background: url(../img/header_wood.png) no-repeat center top;
    height: 42px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 5px 20px 0 20px;
    margin-bottom: -6px;
    font-family: Arial, Helvetica, sans-serif;
}

.header .menu {
    color: #fff;
}

.header .menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    /* text-shadow: 3px 3px 1px rgba(0,0,0,1); */
}

.header .menu a:hover {
    text-decoration: underline;
}


.header .menu li:before {
    border-color: #fff;
}

.header .languages a {
    text-transform: uppercase;
    color: #d31c1c;
}

.header .languages li:before {
    border-color: #d31c1c;
}

.content {
    background: url(../img/back_content.png) repeat-y center center;
    padding: 15px 30px 15px 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
}

.content a {
    color: #005d78;
}

.sidebar {
    /* flex: 0 0 300px; */
    margin-right: 30px;
    max-width: 285px;
}

.categories {
    background: url(../img/categories_back.png) repeat-y center top;
    color: #e2c56a;
    margin-top: 58px;
    margin-bottom: 70px;
    position: relative;
    left: -50px;
    width: 350px;
}

.categories .categoriesList {
    margin-top: -53px;
    margin-bottom: -36px;
}

.categories:before {
    content: '';
    height: 53px;
    display: block;
    position: relative;
    top: -53px;
    background: url(../img/categories_top.png) no-repeat center bottom;
}

.categories:after {
    content: '';
    height: 36px;
    display: block;
    position: relative;
    bottom: -36px;
    background: url(../img/categories_bottom.png) no-repeat center center;
}

.categoriesList {
    margin: 0 40px 0 60px;
    font-size: 1.15rem;
}

.categoriesList ul {
    font-size: 1rem;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.categoriesList ul a {
    color: #a8934f;
}

.categoriesList >  li > span {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.categoriesList >  li > span:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: -14px;
    top: 9px;
    border-top: 3px solid transparent;
    border-left: 4px solid #e2c56a;
    border-bottom: 3px solid transparent
}

.categoriesList > li.opened > span:before {
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: none;
    border-top: 4px solid #e2c56a;
    top: 11px;
    left: -16px;
}


.categoriesList > li > ul {
    display: none;
}

.categoriesList > li.opened > ul {
    display: block;
}


.subSection {
    font-size: 0.857rem;
    /* margin: 0 65px 0 0; */
}

.subSection .frame {
    margin-top: 20px;
    margin-bottom: 20px;
}

.subSection .frame, 
.subSection .frame:before,
.subSection .frame:after {
    width: 110px;
    background-size: 110px auto;
}

.subSection .frame:before {
    height: 18px;
    top: -18px;
}

.subSection .frame:after {
    height: 18px;
    bottom: -18px;
}

.subSection .frame img {
    width: 91px;
    margin-left: 9px;
    margin-top: -27px;
    margin-bottom: -23px;
}

.subSection .more {
    font-size: 1rem;
}

.subSection .block {
    border-bottom: 1px solid #d3a36c;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


h1, h2, h3, h4, h5, h6 {
    /* font-family: 'PaladinPCRus Medium'; */
    font-family: 'Moyenage';
}

h1 {
    font-size: 4rem;
    color: #8d120d;
    line-height: 1;
    text-align: left;
    /* font-family: 'DrPoDecorRu'; */
}

h2 {
    font-size: 1.5rem;
    color: #8d120d;
    line-height: 1;
}

h2 a, h3 a, h4 a {
    text-decoration: none;
}

h2 a:hover, h3 a:hover, h4 a:hover {
    text-decoration: underline;
}

h3 {
    font-size: 1rem;
    color: #8d120d;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.7rem;
}

h6 {
    font-size: 0.6rem;
}

.textBlock {
    -ms-flex: 1 1 100%;
        flex: 1 1 100%;
}

.textBlock p {
    padding-bottom: 20px;
}

.textBlock h1, .textBlock h2, .textBlock h3 {
    padding-bottom: 20px;
}

.textBlock img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

.textBlock ul { 
    list-style: none;
    list-style-position: inside;
    padding-bottom: 20px;
    margin-left: 10px;
}

.textBlock ul > li {
    background: url(../img/point.png) no-repeat left 9px;
    padding: 5px 0 5px 20px;
}


hr {
    margin: 0 0 20px 0;
    padding: 0;
    background: url(../img/venzel.png) no-repeat center top;
    background-size: auto 18px;
    height: 18px;
    border: none;
}

.block {        
    /* margin-top: 30px; */
    text-align: justify;
}

.more {
    text-align: right;
    color: #005d78;
    /* font-family: 'PaladinPCRus Medium'; */
    font-family: 'Moyenage';
    text-transform: lowercase;
    font-size: 1.2rem;
}

.more a {
    color: #005d78;
}

.leftImg {
    float: left;
    margin-right: 5px;
}

.rightImg {
    float: right;
    margin-left: 10px;
}

.frame {
    width: 200px;
    background: url(../img/image_frame_center.png) repeat-y center top;
    margin-top: 33px;
    margin-bottom: 33px;
}

.frame:before {
    content: '';
    width: 200px;
    height: 33px;
    background: url(../img/image_frame_top.png) no-repeat center top;
    display: block;
    position: relative;
    top: -33px;
}

.frame:after {
    content: '';
    width: 200px;
    height: 33px;
    background: url(../img/image_frame_bottom.png) no-repeat center bottom;
    display: block;
    position: relative;
    bottom: -33px;
}

.frame img {
    width: 166px;
    display: block;
    margin-left: 16px;
    margin-top: -49px;
    margin-bottom: -42px;
}

.logoMenu {
    z-index: 20;
}

.logoMenuInner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    background: url(../img/menu_back.png) no-repeat center top;
    -ms-flex: 0 0 81px;
        flex: 0 0 81px;
    padding: 0 30px;
}

.logoMenu .logo img { display: block;}

.mainMenu {
    display: -ms-flexbox;
    display: flex;
}

.mainMenu li {
    background: url(../img/menu-divider.png) no-repeat left 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.mainMenu li:first-child {
    background: none;
}

.mainMenu li a .centerPart {
    /* overflow: hidden; */
}

.mainMenu li .subTitle {
    font-size: 0.7rem;
    /* max-width: 100px; */
    color: #8e7941;
    line-height: 1.2;
    font-family: Arial;

}

.mainMenu li .title {
    font-family: 'PaladinPCRus Medium';
    font-size: 2rem;
    line-height: 1;
    max-width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: text-shadow .2s ease-out;
}

.mainMenu li a {
    text-decoration: none;
    display: block;
    position: relative;
    height: 65px;
    padding-top: 6px;
    margin-top: 10px;
}

.mainMenu li.active a:before {
    content: '';
    background: url(../img/menu-active-left.png) no-repeat left top;
    width: 36px;
    height: 65px;
    display: block;
    position: absolute;
    top: 0;
    left: -36px;
}

.mainMenu li.active a {
    background-image: url(../img/menu-active-back.png);
    background-repeat: repeat-x;
    background-position: left top;
    margin-left: 20px;
    margin-right: 20px; 
}

.mainMenu li.active .title {
    text-shadow: 0 0 20px #feb300;
}

.mainMenu li.active a:after{
    content: '';
    background: url(../img/menu-active-right.png) no-repeat left top;
    width: 40px;
    height: 65px;
    display: block;
    position: absolute;
    top: 0;
    right: -40px;
}


.mainMenu li.active .centerPart {
    position: relative;
    z-index: 1;
    margin-left: -20px;
    margin-right: -20px;
}

.mainMenu li.active .subTitle {
    color: #e2c56a;
}

/* @media (hover:hover) { */

    .mainMenu li a:hover {
        /* background: url('../img/menu-active-back.png') repeat-x left top; */
        /* margin-left: 20px;
        margin-right: 20px;  */
    }


    /* .mainMenu li a:hover:before {
        content: '';
        background: url('../img/menu-active-left.png') no-repeat left top;
        width: 36px;
        height: 65px;
        display: block;
        position: absolute;
        top: 0;
        left: -36px;
    }

    .mainMenu li a:hover:after{
        content: '';
        background: url('../img/menu-active-right.png') no-repeat left top;
        width: 40px;
        height: 65px;
        display: block;
        position: absolute;
        top: 0;
        right: -40px;
    } */
    

    .mainMenu li a:hover .title {
        text-shadow: 0 0 20px #feb300;
    }

    .mainMenu li a:hover .subTitle{
        color: #e2c56a;
    }
    

    /* .mainMenu li a:hover .centerPart{
        position: relative;
        z-index: 1;
        margin-left: -20px;
        margin-right: -20px;
    } */

    
/* } */


.footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
    color: #fff;
    height: 96px;
}

.footer:before {
    content: '';
    display: block;
    background: url(../img/header_wood.png) no-repeat center center;
    height: 42px;
    -ms-flex: 1 1 100%;
        flex: 1 1 100%; 
}

.footer .logo {
    
}

.footer .logo img {
    display: block;
    width: 135px;
}

.footer .centerMenus {
    max-width: 400px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.footer .subMenu {
    color: #fff;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}

.footer .subMenu li:before {
    border-left-color: #fff;
    height: 10px;
}

.footer .subMenu a {
    color: #fff;
}

.footer .developmentBy {
    font-size: 0.85rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.smallMenu {
    display: -ms-flexbox;
    display: flex;
}

.smallMenu li {
    margin-left: 20px;
    position: relative;
}

.smallMenu li:first-child {
    margin-left: 0;
}

.smallMenu li:before {
    content: '';
    width: 1px;
    height: 13px;
    border-left: 1px solid #e2c56a;
    position: absolute;
    left: -10px;
    top: 5px;
}

.smallMenu li:first-child:before {
    display: none;
}

.slider {

}

.slider .item {
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.tns-controls {
    display: none;
}

.tns-outer {
    position: relative;
}

.tns-nav {
    position: absolute;
    z-index: 1;
    
}

.tns-outer [aria-controls], .tns-outer [data-action] {
    border-radius: 50%;
    margin: 0 4px;
    padding: 0;
    background: #fff;
    width: 10px;
    height: 10px;
    border: none;
}

.tns-outer [aria-selected=true] {
    background: #e2c56a;
}

.pagination {
    text-align: center;
}

.pagination span a, .pagination .current {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
    background: #4e3525;
}

.pagination .current, .pagination span a:hover {
    background: #9B5B2D;
}

ul.thumbsList {
    overflow: hidden;
    margin-left: -20px;
}

ul.thumbsList > li {
    background: none;
    float: left;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}


ul.thumbsList > li .frame, 
ul.thumbsList > li .frame:before,
ul.thumbsList > li .frame:after {
    width: 185px;
    background-size: 185px auto;
}

ul.thumbsList > li .frame {
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

ul.thumbsList > li .frame:before {
    height: 30px;
    top: -30px;
}

ul.thumbsList > li .frame:after {
    height: 30px;
    bottom: -30px;
}

ul.thumbsList > li .frame img {
    width: 155px;
    margin-left: 13px;
    margin-top: -44px;
    margin-bottom: -38px;
}

.mobileMenuButton {
    display: none;
}


@media screen and (max-width: 767px) {

    html {
        font-size: 13px;
    }


    .mainContent {
        min-height: 0;
        display: block;
    }

    .content {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar {
        margin-right: 0;
        max-width: none;
    }

    .logoMenu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 270px;
        z-index: 100;
        display: block;
        transform: translateX(-270px);
        background: #4D3423;
        padding: 10px 0 0 0
    }

    .logoMenu.transition {
        transition: transform 0.2s linear;
    } 
            
            .logoMenu .logo img {
                width: 130px;
                margin-left: 20px;
            }

    .overlayBack {
        position: fixed;
        z-index: 99;
        display: none;
        background: rgba(0,0,0,0.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .logoMenuInner {
        position: absolute;
        overflow-y: scroll;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: none;
        display: block;
        padding: 0;
    }

    .mobileMenuButton {
        background: #2E1A08;
        position: fixed;
        z-index: 100;
        display: block;
        color: #fff;
        padding: 10px;
        border: 1px solid rgb(20, 11, 4);
        transform: translateX(0); 
        transition: transform 0.2s linear;
    }

        .mobileContainer.active .mobileMenuButton {
            transform: translateX(270px); 
        }
    
        .mobileContainer.active .logoMenu {
            transform: translateX(0); 
        }

        .mobileContainer.active .overlayBack {
            display: block;
        }

     
    .mainMenu {
        display: block;
    }

        .mainMenu li {
            background: none;

            
        }

            .mainMenu li .subTitle {
                font-size: 0.8rem;
            }

    h1 {
        font-size: 2rem;
    }

    .subSection {
        font-size: 1rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer {
        display: block;
        height: auto;
    }

        .footer .developmentBy {
            margin-top: 10px;
            font-size: 1rem;
        }

            .footer .developmentBy br { display: none;}

        .footer .subMenu {
            margin-top: 10px;
        }

    .smallMenu {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .categories {
        left: 0;
        /* width: 320px; */
        max-width: 100%;
        margin-top: 38px;
        margin-left: auto;
        margin-right: auto;
    }
        .slider .item {
            height: 100px;
        }

    .header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .textBlock {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobileWrapper {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;
    }

    .fixed {
        /* position: fixed; */
        overflow: hidden;
    }
}

/*# sourceMappingURL=custom.css.map*/