* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    background: #29201b url('../img/back.png') 0 0 repeat-x;
}

body {
    font-size: 1rem;
}

.wrapper {
	max-width: 980px;
	margin: 0 auto;
}

.header {
    background: url('../img/header_wood.png') no-repeat center center;
    height: 42px;
}