<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>Project</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.tinyslider.css %>">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.custom.css %>">
    <script defer src="<%= htmlWebpackPlugin.files.chunks.tinyslider.entry %>"></script>
    <script defer src="<%= htmlWebpackPlugin.files.chunks.sticky.entry %>"></script>
    <script defer src="<%= htmlWebpackPlugin.files.chunks.custom.entry %>"></script>
</head>
<body>
    <div class="wrapper mainContent">
        <div class="header">
            <ul class="smallMenu menu">
                <li><a href="#">Главная</a></li>
                <li><a href="#">О проекте</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <ul class="smallMenu languages">
                <li><a href="#">Ru</a></li>
                <li><a href="#">En</a></li>
            </ul>
        </div>

        <div class="slider">
            <div class="item" style="background-image: url('img/temp/promo.png')"></div>            
        </div>

        
        <div class="logoMenu" data-sticky data-sticky-wrap >
            <a href="javascript: void(0)" class="logo">
                <img src="img/logo.png" alt="Logo" / >
            </a>
            <ul class="mainMenu">
                <li>
                    <a href="#">
                        <div class="centerPart">
                            <div class="title">Wiki</div>
                            <div class="subTitle">энциклопедия KingsRoad</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="centerPart">
                            <div class="title">Игрокам</div>
                            <div class="subTitle">статьи, обзоры, прохождение</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="centerPart">
                            <div class="title">Биржа</div>
                            <div class="subTitle">Продать / Купить аккаунт безопасно</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="centerPart">
                            <div class="title">Галерея</div>
                            <div class="subTitle">медиа, арт, скриншоты</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


        <div class="content">
            <div class="sidebar">
                <div class="categories">
                    <ul class="categoriesList">
                        <li><a href="#">Раздел1</a></li>
                        <li>
                            <a href="#">Раздел2</a>
                            <ul>
                                <li><a href="#">Подраздел1</a></li>
                                <li><a href="#">Подраздел2</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Раздел3</a></li>
                        <li><a href="#">Раздел4</a></li>
                    </ul>
                </div>
                <div class="subSection">
                    <div class="block">
                        <h2>Subsection with title1</h2>
                        <div class="frame leftImg">
                            <img src="https://gmbay.ru/media/screenshots/castlot-screenshot-16.jpg?mode=pad&w=1024&h=700" alt=""  />
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <div class="more"><a href="#">Подробнее</a></div>
                        <div class="more"><a href="#">Подробнее</a></div>
                    </div>
                    <div class="block">
                        <h2>Subsection with title2</h2>
                        <div class="frame leftImg">
                            <img src="https://gmbay.ru/media/screenshots/castlot-screenshot-16.jpg?mode=pad&w=1024&h=700" alt=""  />
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <div class="more"><a href="#">Подробнее</a></div>
                    </div>
                </div>
            </div>
            <div class="textBlock">
                <div class="block">
                    <div class="frame leftImg">
                        <img src="http://howtogame.ru/uploads/posts/2016-12/1481972216_levorium.jpg" alt=""  />
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and <a href="#">typesetting</a> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="more"><a href="#">Подробнее</a></div>
                </div>
                <div class="block">
                    <h1>Welcome to site about KingsRoad!</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="frame rightImg">
                        <img src="http://hardprice.ru/media/games/39.elvenar_ru/bg.opt.jpg" alt=""  />
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <img src="http://howtogame.ru/uploads/posts/2016-12/1481972216_levorium.jpg" alt="" />
                </div>
                <div class="block">
                    <h2>Some subscribtion text</h2>
                    <p><a href="#">Lorem Ipsum</a> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <ul>
                        <li>Point 1</li>
                        <li>Point 2</li>
                        <li>Point 3</li>
                    </ul>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="footer">
            <a href="#" class="logo">
                <img src="img/logo.png" alt="" />
            </a>
            <div class="centerMenus">
                <ul class="smallMenu">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Wiki</a></li>
                    <li><a href="#">Игрокам</a></li>
                    <li><a href="#">Биржа</a></li>
                    <li><a href="#">Галерея</a></li>
                </ul>
                <ul class="smallMenu subMenu">
                    <li><a href="#">О проекте</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Отказ от прав</a></li>
                </ul>
            </div>
            <div class="developmentBy">Разработка сайта: <a href="#">phppainkiller.ru</a></div>
        </div>
    </div>
</body>
</html>